.card-content {
    height: 100px;
    width: 100px;
    background-color: rgb(153, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.card-content:hover {
    cursor: pointer;
    background-color: yellow;
    color: red;
}