<div style="background-color: black;">
    <div style="display: flex; justify-content: center;">
        <span style="margin-top: 40px; color: white; font-size: 50px;">Zivver 10 X 10</span>
    </div>
    <div style="margin-top: 100px;" fxLayout="row wrap" fxLayoutAlign="space-around center" >
        <div fxFlex.lt-md="50" fxFlex.lt-sm="100" *ngFor="let data of posts" style="margin: 5px;" fxLayoutGap="10px">
            <app-post-card [id]= "data.id" [userId]="data.userId"></app-post-card>
        </div>
    </div>

</div>